<html>
    <head>
        <title>{{category_name}} Items</title>
    </head>
    <body>
        <h1>{{category_name}} ({{ items|length }} Items)</h1>
        <a href="{{url_for('newCategory')}}">New Category</a>
        <ul style='list-style-type: none;'>
            {% for item in items %}
            <li>
                <a href="{{url_for('showitem', category=item.category.name, item = item.name.replace(' ', '_'))}}">{{item.name}} </a>
            </li>
            {% endfor %}
        </ul>
        
    </body>
</html>